body{font-family: Arial; font-size: 14px; color: #333;}
p{line-height: 20px;}
a,a:visited{color: #008aff; text-decoration: none;}
a:hover {color: #00baff;}
h1{margin-bottom: -20px;}
h2{border-bottom: 1px #ccc solid; padding-bottom: 10px;}
.center{width: 900px; margin: 40px auto;}
.wrap {width: 860px; padding: 20px; float:left; background: #fff;}
.post{width: 860px; padding: 0px;float:left; margin-bottom: 20px;}
.meta {float:left; width: 130px; margin: 20px 0;text-align: left; border-right: 1px #666 dotted; margin-right: -20px;}
.date{background: #fff3a0; font-size: 10px; padding: 4px 6px; line-height: 12px;}
.tag{background: #8ee0ff; font-size: 10px; padding: 4px 6px; line-height: 12px;}
.cont, .nav, .header{float:right; width: 689px; padding: 0 20px 20px 0px;}
.header{border-left: none;}
.footer {width: 680px; margin-right: 20px; text-align: center;float:right; margin-top: 100px; margin-bottom: -80px; font-size: 11px; color: #999;}
.footer a{color: #444;text-decoration: none;}
.nav{margin-top: 50px; text-align: center; border-left: none;}
.nav a, .nav a:visited{text-decoration: none; color: #000; font-size: 12px; padding: 4px 6px; border-radius: 3px; background: #eee;}
.nav a:hover{background: #ff005a; color: #fff;}
.prev{float:left;}
.next{float:right;}
img.left{float:left; margin-right: 10px;}
img.right{float:right; margin-left: 10px;}

