.wysiwyg{font-family: arial, sans-serif; color: #444; font-size: 12px; padding:0px 10px;}
img.left{float:left; margin: 10px 10px 10px 0;}
img.right{float:right; margin: 10px 10px 0 10px;}
img.center{margin: 10px auto;}
